# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# autoreconf
autom4te.cache/
aclocal.m4
configure

# ./configure
scripts/make-deb.sh
config.status
Makefile
*.log

# Vim
.session.vim
.vimrc
.ycm_extra_conf.py
*.swp

# Other
build/
lib/
